/* Custom properties */
:root {
  --tooltip-text-color: #2167ad;
  --tooltip-background-color: #edeef0;
  --tooltip-margin: 20px;
  --tooltip-arrow-size: 6px;
}

/* Wrapping */
.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.Tooltip-Tip {
  display: flex;
  position: absolute;
  width: 650px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  z-index: 100;
}
.Tooltip-Tip table {
  width: 100%;
}
.Tooltip-Tip table td {
  width: 50%;
  border: 0;
  vertical-align: top;
}
.Tooltip-Tip table td .tooltip-content {
  max-height: 200px;
  overflow-y: auto;
}
.Tooltip-Tip table td:first-child {
  border-right: 1px solid #add8ef;
}
/* CSS border triangles */
.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.Tooltip-Tip.top {
  top: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-35%);
}
/* CSS border triangles */
.Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 40%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.Tooltip-Tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}
.__react_component_tooltip{
  font-weight: 600;
  max-width: 600px;
}



/*.customDateTT   Custom properties */


/* Wrapping */
.customDateTT  .Tooltip-Wrapper {
  display: inline-block;
  position: relative;
}

/* Absolute positioning */
.customDateTT .Tooltip-Tip {
  display: flex;
  position: absolute;
  width: 450px;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px;
  color: #2167AD;
  background: #EBF4FB;
  z-index: 100;
}
.customDateTT .Tooltip-Tip table {
  width: 100%;
}
.customDateTT .Tooltip-Tip table td {
  width: 50%;
  border: 0;
  vertical-align: top;
}
.customDateTT .Tooltip-Tip table td .tooltip-content {
  max-height: 200px;
  overflow-y: auto;
}
.customDateTT .Tooltip-Tip table td:first-child {
  border-right: 1px solid transparent;
}
/* CSS border triangles */
.customDateTT .Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.customDateTT .Tooltip-Tip.top {
  top: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.customDateTT .Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.customDateTT .Tooltip-Tip.right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-35%);
}
/* CSS border triangles */
.customDateTT .Tooltip-Tip.right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 40%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.customDateTT .Tooltip-Tip.bottom {
  bottom: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.customDateTT .Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.customDateTT .Tooltip-Tip.left {
  left: auto;
  right: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.customDateTT .Tooltip-Tip.left::before {
  left: auto;
  right: calc(var(--tooltip-arrow-size) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--tooltip-background-color);
}