.Dropdown-control {
  font-size: 14px;
  color: #2167ad;
  border: 1px solid #add8ef;
  height: 32px;
  width: 100%;
  /*max-width: 350px;*/
  border-radius: 15px;
  transition: none;
}
.frm-field.inlinetitle .Dropdown-control{
  min-width: 150px;
}
.frm-field-bggray .Dropdown-control {
  background-color: #edeef0;
}
.Dropdown-root.is-open .Dropdown-control {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Dropdown-menu {
  border: 1px solid #add8ef;
  border-top: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.Dropdown-option {
  color: rgba(33, 103, 173, 1) !important;
}
.Dropdown-arrow {
  /*border-color: #2167ad transparent transparent;*/
  padding: 3px;
  top: 10px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.is-open .Dropdown-arrow {
  /*border-color: transparent transparent #1f66ab;*/
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.Dropdown-placeholder {
  font-style: italic;
}
.Dropdown-placeholder.is-selected {
  font-style: normal;
  height: 19px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.Dropdown-option.is-selected {
  background-color: #add8ef;
}
.Dropdown-disabled {
  color: #00000060;
}
.label.hastooltip {
  max-width: 80%;
}
.frm-field.inlinetitle{
  display: flex;
  align-items: center;
    justify-content: space-around;
}