.Dropdown-control {
  font-size: 14px;
  color: #2167ad;
  border: 1px solid #add8ef;
  height: 32px;
  width: 100%;
  /*max-width: 350px;*/
  border-radius: 15px;
  transition: none;
}
.frm-field.inlinetitle .Dropdown-control{
  min-width: 150px;
}
.frm-field-bggray .Dropdown-control {
  background-color: #edeef0;
}
.Dropdown-root.is-open .Dropdown-control {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.Dropdown-menu {
  border: 1px solid #add8ef;
  border-top: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.Dropdown-option {
  color: rgba(33, 103, 173, 1) !important;
}
.Dropdown-arrow {
  /*border-color: #2167ad transparent transparent;*/
  padding: 3px;
  top: 10px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.is-open .Dropdown-arrow {
  /*border-color: transparent transparent #1f66ab;*/
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.Dropdown-placeholder {
  font-style: italic;
  visibility: hidden;
  position: relative;
}
.Dropdown-Germany-placeholder::before {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: 'Auswählen';
}
.Dropdown-English-placeholder::before {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "Select";
}
.Dropdown-placeholder.is-selected {
  font-style: normal;
  height: 19px;
  overflow-y: hidden;
  overflow-x: hidden;
  visibility: visible;
  position: absolute;
}
.Dropdown-option.is-selected {
  background-color: #add8ef;
}
.Dropdown-disabled {
  color: #00000060;
}
.label.hastooltip {
  max-width: 80%;
}
.frm-field.inlinetitle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.plus-button {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  /* Make it round */
  border: none;
  background-color: #2167ad;
  /* Change color as desired */
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add shadow */
  margin-left: 10px;
}

.drop-down {
  width: 90%;
}

.dropdowncls {
  display: flex;
}

.Button-disabled {
  pointer-events: none;
  opacity: 0.7;
}

.marginTop {
  margin-top: 10px;
}