.react-datepicker {
  font-family: "ZurichSans", sans-serif, Segoe UI;
  font-size: 14px;
  border: 1px solid #add8ef;
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  border-top: 0;
  top: -1px;
}
.react-datepicker-wrapper input {
  background-image: url(../../../assets/Calendar_normal.png);
  background-position: calc(100% - 10px) 8px;
  background-repeat: no-repeat;
}
.react-datepicker-wrapper input.react-datepicker-ignore-onclickoutside {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #2167ad !important;
}
.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  background-color: #add8ef;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #fff;
  border: 1px solid #add8ef;
  border-radius: 45%;
}
.react-datepicker__day--disabled {
  opacity: 0.5;
}
.react-datepicker-popper {
  z-index: 2;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-bottom-color: #add8ef;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #fff;
}
.react-datepicker__navigation:hover *::before {
  border-color: #fff;
}
.react-datepicker__header {
  border-bottom: 1px solid #2167ad;
  background-color: #2167ad;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #fff !important;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.react-datepicker-popper[data-placement^="bottom"] {
  padding-top: 0;
}
.frm-field .react-datepicker__month-dropdown-container {
  margin-right: 20px;
  color: #fff;
}
.react-datepicker__year-dropdown-container {
  color: #fff;
}
.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #2167ad;
}
.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: transparent;
}

.react-datepicker__navigation--years-upcoming::after {
  position: absolute;
  content: "";
  padding: 3px;
  top: 10px;
  left: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.react-datepicker__navigation--years-previous::after {
  position: absolute;
  content: "";
  padding: 3px;
  top: 10px;
  left: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.react-datepicker__month-read-view:hover
  .react-datepicker__month-read-view--down-arrow,
.react-datepicker__year-read-view:hover
  .react-datepicker__year-read-view--down-arrow {
  border-color: #fff;
}
.react-datepicker-popper,
.react-datepicker__month-container{width: 100%;}