@font-face {
  font-family: "Zurich Sans Bold";
  src: local("Zurich Sans Bold"),
    url("../fonts/ZurichSans-Bold.woff") format("woff"),
    url("../fonts/ZurichSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Bold Italic";
  src: local("Zurich Sans Bold Italic"),
    url("../fonts/ZurichSans-BoldItalic.woff") format("woff"),
    url("../fonts/ZurichSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Italic";
  src: local("Zurich Sans Italic"),
    url("../fonts/ZurichSans-Italic.woff") format("woff"),
    url("../fonts/ZurichSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Light";
  src: local("Zurich Sans Light"),
    url("../fonts/ZurichSans-Light.woff") format("woff"),
    url("../fonts/ZurichSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Light Italic";
  src: local("Zurich Sans Light Italic"),
    url("../fonts/ZurichSans-LightItalic.woff") format("woff"),
    url("../fonts/ZurichSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Medium";
  src: local("Zurich Sans Medium"),
    url("../fonts/ZurichSans-Medium.woff") format("woff"),
    url("../fonts/ZurichSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Medium Italic";
  src: local("Zurich Sans Medium Italic"),
    url("../fonts/ZurichSans-MediumItalic.woff") format("woff"),
    url("../fonts/ZurichSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans";
  src: local("Zurich Sans"),
    url("../fonts/ZurichSans-Regular.woff") format("woff"),
    url("../fonts/ZurichSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Semi Bold";
  src: local("Zurich Sans Semi Bold"),
    url("../fonts/ZurichSans-SemiBold.woff") format("woff"),
    url("../fonts/ZurichSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Semi Bold Italic";
  src: local("Zurich Sans Semi Bold Italic"),
    url("../fonts/ZurichSans-SemiBoldItalic.woff") format("woff"),
    url("../fonts/ZurichSans-SemiBoldItalic.ttf") format("truetype");
}
.react-tooltip-clickable-link {
  pointer-events: auto !important
}
body {
  font-family: "ZurichSans", sans-serif, Segoe UI;
  font-size: 14px;
  color: #2167ad;
  word-spacing: normal;
  letter-spacing: normal;
  margin: 0px 0px 0px 0px;
  height: auto;
  background-color: #f3f3f3;
  line-height: 1.2;
}
#root{
  max-width: 100%;
  min-width: 1280px;
  margin: 0 auto;
}
a {
  color: #2167ad;
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
.spinner {
  position: relative;
  margin: 0 auto;
  top: 100px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  display: flex;
  flex-flow: column wrap;
}
.popup-container .popup-sheen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-image: url("../assets/transparent.png");
  background-color: #fff;
  opacity: 0.4;
}
.popup-box {
  position: absolute;
  right: 0px;
  width: 370px;
  background: #edeef0 0% 0% no-repeat padding-box;
  box-shadow: -5px 3px 11px #00000029;
  border: 1px solid #dce3e3;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.popup-box.medium {
  top: 220px;
  width: 650px;
  left: 350px;
  /*height: 400px;*/
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.popup-box.small {
  position: relative;
  top: 120px;
  width: 450px;
  font-size: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0 auto;
}
.popup-header-container {
  height: 50px;
  border-bottom: 1px solid #2167ad;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-footer-container {
  height: 50px;
  border-top: 1px solid #2167ad;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.popup-header-title {
  font-size: 18px;
  font-weight: 600;
  color: #243e6f;
}
.popup-close {
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.popup-close:hover {
  font-weight: 600;
}
.popup-content {
  padding: 20px;
}
.popup-formitems {
  padding: 20px;
  padding-bottom: 0px;
  min-height: 530px;
  /* max-height: 550px;*/
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
}
.mb20 {
  margin-bottom: 20px;
}
/* form styles */
.frm-container-bggray {
  background-color: #edeef0;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
  padding: 0px 20px;
  padding-top: 10px;
}
.frm-container-bgwhite {
  background-color: #ffffff;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -10px;
  padding: 0px 20px;
  padding-top: 10px;
}
#myForm label {
  font-weight: 600;
}

.frm-field {
  position: relative;
  margin-bottom: 20px;
}
.frm-field.inlinefield {
  margin-bottom: 0px;
}
.frm-field label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
.frm-field label i {
  font-weight: normal;
}
.frm-field label.disabled,
.frm-field div.disabled,
.frm-field.disabled,
.frm-field.disabled label,
.frm-field.disabled .label,
.frm-field input:disabled,
.frm-field.disabled input::placeholder {
  color: #00000060;
}

.frm-field .validationError {
  margin-top: 3px;
  font-style: italic;
  color: #ff0000;
}
.frm-field label .label,
.frm-field label .icon {
  display: inline-block;
}
.frm-field label .icon {
  margin-left: 7px;
}
.frm-field label .info-icon {
  width: 15px;
  height: 15px;
}
.frm-field.mandatory label:not(.disabled) .label:after {
  content: "*";
  color: #ff0000;
  font-size: 14px;
  top: 0px;
}
.frm-field input,
.frm-field textarea,
.frm-field select {
  width: 100%;
  height: 32px;
  border: 1px solid #add8ef;
  color: #2167ad;
  padding: 5px 10px;
  /*max-width: 500px;*/
  border-radius: 17px;
}
.logs-form .frm-field input{max-width: 100%;}
.frm-field input::placeholder {
  color: #2167ad;
  font-style: italic;
}

.frm-field input::-ms-input-placeholder {
  color: #2167ad;
  font-style: italic;
}
.frm-field.inlinefield input {
  border: 0;
  padding: 3px 0px;
  border-radius: 0;
  background-color: transparent;
}

.frm-field input[type="radio"],
.frm-field input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.frm-field .frm-radiobtns-container {
  display: flex;
}
.frm-field .radiobtn-container {
  display: flex;
  width: 170px;
  justify-content: flex-start;
  align-items: center;
}
.frm-checkbox-container {
  display: flex;
}
.frm-field textarea {
  resize: none;
}
textarea:-ms-input-placeholder {
  color: rgba(33, 103, 173, 0.5);
  font-style: italic;
}
textarea::placeholder {
  color: rgba(33, 103, 173, 0.5);
  font-style: italic;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
.frm-field textarea {
  height: 90px;
}

.tabs-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #2167ad;
  padding: 0 20px;
}
.border-bottom {
  border-bottom: 1px solid #2167ad !important;
  margin-bottom: 10px;
}
.pt10 {
  padding-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.border-top {
  border-top: 1px solid #2167ad !important;
}
.tab-btn {
  height: 34px;
  line-height: 33px;
  padding: 0px 10px;
  /*background: #1dafe4 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;*/
  margin-right: 10px;
}
.tab-btn.normal:hover {
  cursor: pointer;
  /*background: #21356e 0% 0% no-repeat padding-box;*/
  font-weight: 600;
}
.tab-btn.selected {
  cursor: default;
  font-weight: 600;
  /*background: #21356e 0% 0% no-repeat padding-box;*/
  border-bottom: 1px solid #243e6f;
}
.filter-btn-container {
  display: flex;
  justify-content: center;
}
.filter-btn-container.closecls {
  border-top: 1px solid #21356e;
}

.filter-btn {
  cursor: pointer;
  margin: 0;
  line-height: 29px;
  height: 30px;
  padding: 0px 35px 0px 10px;
  color: #fff;
  border-radius: 0px 0px 15px 15px;
  background: #2167ad 0% 0% no-repeat padding-box;
  background-image: url("../assets/Filter.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.advance-filter-btn-container{
  position: relative;
  width: 100%;
  margin: 20px 0;
}
.advance-filter-btn-container::before{
  content: '';
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #5495cf;
  top: 50%;
  display: block;
}
.advance-filter-btn{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width:150px;
  line-height: 29px;
  height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  color: #2167ad;
  font-weight: 600;
  background-color: #ECEEEF ;
  
  background-repeat: no-repeat;
  background-position: right 10px center;
  display: inline-block;
}
.advance-filter-btn.normal{
  background-position-x: 97%;
  background-image: url("../assets/Expand.png");
}
.advance-filter-btn.selected {
  background-position-x: 97%;
  background-image: url("../assets/Colapse.png");
}
.advance-filter-btn:hover{
  cursor: pointer;
  background-color: #ADD8EF ;
}
.approver-container {
  padding: 10px 5px;
}
.site-pagination-table {
  position: relative;
}
.site-pagination-table .approver-container {
  padding: 10px 0px;
  margin-left: -7px;
}
.site-pagination-table a {
  text-decoration: none;
}
/* end of form styles */
.main-container {
  width: 100%;
  background: #ebedef 0% 0% no-repeat padding-box;
  border: 1px solid #edeef0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #edeef0;
  background-color: #fff;
  align-items: center;
}
.site-logo {
  width: 200px;
  min-width: 200px;
  height: 100%;
  /*border-right: 1px solid #dce3e3;*/
  background-image: url("../../src/assets/Zurich_72_Logo_Horz_Blue_RGB.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.header-title {
  width: 860px;
  font-size: 25px;
  font-weight: 600;
  color: #243e6f;
}
.loggeduser-container {
  position: relative;
  min-width: 200px;
  width: 200px;
  margin-right: 20px;
}
.loggeduser {
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.loggeduser-container .userregion-container {
  width: 120px;
  text-align: right;
}
.loggeduser-container .userregion-logo {
  width: 20px;
  text-align: center;
}
.loggeduser-container .user-image {
  text-align: center;
  cursor: pointer;
}
.profile-picture {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f9fd;
  border: 1px solid #2167ad;
  text-align: center;
  color: #2167ad;
  overflow: hidden;
  text-align: center;
}
.logout-container {
  position: absolute;
  margin-top: 22px;
  right: 0px;
  padding: 5px 10px;
  text-align: left;
  width: 90%;
  background-color: #fff;
  border: 1px solid #243e6f;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 3;
}

.logout-btn {
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}
.site-container {
  display: flex;
}

.menu-nav {
  width: 200px;
  min-width: 200px;
  background-color: #fff;
}

.nav-links {
  width: 100%;
}
.nav-links a {
  text-decoration: none;
}
.nav-links .menu-item {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #add8ef;
  line-height: 40px;
  padding-left: 40px;
  color: #2167ad;
}
.nav-links .submenu-container .menu-item {
  padding-left: 50px;
}
.nav-links .menu-item:hover {
  background-color: #dae2f4;
  font-weight: bold;
}
.nav-links .menu-item.active {
  background-color: #fff;
  font-weight: bold;
  border-bottom: 2px solid #2167ad;
}
.nav-links .menu-item:hover {
  cursor: pointer;
}
.pageview-container {
  margin: 10px;
  width: 200px;
  flex-grow: 1;
  min-height: 525px;
  background-color: #fff;
}
.page-title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px;
  color: #243e6f;
}
.page-filter-outercontainer{position: relative;width: 100%;
  min-height: 30px;z-index: 2;}
.page-filter-positioncontainer{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-filter {
  width: 100%;
  min-height: 79px;
  border-top: 1px solid #1f66ab;
  border-bottom: 1px solid #5495cf;
  background-color: #edeef0;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-filter .btn-container {
  padding: 0px 20px;
  margin-bottom: 10px;
}
.page-filter.collapsable .btn-container {
  justify-content: flex-end;
}
.filter-container {
  width: 100%;
  margin-left: 0;
  /*display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0px 20px;*/
}
.filter-date-container{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}
.daterange-title{position:relative;font-weight: 600;text-align: center; width: 30px;top:5px}
.filter-date-container .frm-filter{
  flex: 1 1 auto;
}
.page-filter.collapsable {
  display: block;
}
.page-filter.collapsable .filter-container {
  max-width: 100%;
}
.page-filter.collapsable .frm-filter:nth-child(4n) {
  /* margin: 0;*/
}
.frm-filter {
 /* width: 232px;
  margin-right: 10px;*/
}

.frm-filter .frm-field {
  margin-bottom: 10px;
}
.frm-filter label {
  font-weight: 600;
  margin-bottom: 5px;
}

.filter-container .dropdown select,
.filter-container input {
  background-color: #fff;
  /*width: 250px;*/
  max-width: 100%;
  height: 32px;
  color: #21356e;
  border: 1px solid #add8ef;
}
.dropdown select option {
  max-width: 100%;
  overflow: hidden;
  /*Altered two below to make word wrap work */
  word-wrap: normal !important;
  white-space: normal;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn-container div:not(:last-child),
button:not(:last-child) {
  margin-right: 15px;
}

.btn-blue {
  min-width: 89px;
  height: 32px;
  background-color: rgba(33, 103, 173, 1);
  text-align: center;
  line-height: 31px;
  color: #fff;
  border-radius: 15px;
  padding: 0 15px;
  cursor: pointer;
  border: none;
}
.btn-blue.disable,
.btn-blue.disable:hover {
  background-color: #dee2e6 !important;
  cursor: default !important;
}
.btn-blue:hover {
  background-color: rgba(33, 103, 173, 0.7);
}
.btn-blue.plus-icon,
.btn-blue.export-icon, .btn-blue.import-icon,.btn-blue.download-icon {
  padding-left: 30px;
}
.save-icon {
  width: 100%;
  height: 22px;
  background: url("../assets/Save.png") center no-repeat;
}
.save-icon:hover {
  cursor: pointer;
  background: url("../assets/Save_hover.png") center no-repeat;
}
.view-icon {
  width: 100%;
  height: 22px;
  background: url("../assets/view.png") center no-repeat;
}
.view-icon:hover {
  cursor: pointer;
  background: url("../assets/view_over.png") center no-repeat;
}
.edit-icon {
  width: 100%;
  height: 22px;
  background: url("../assets/edit.png") center no-repeat;
}
.edit-icon:hover {
  cursor: pointer;
  background: url("../assets/edit_hover.png") center no-repeat;
}
.delete-icon {
  width: auto;
  height: 22px;
  background: url("../assets/trash.png") center no-repeat;
}
.delete-icon:hover {
  cursor: pointer;
  background: url("../assets/trash_hover.png") center no-repeat;
}
.popup-delete-icon {
  width: 50px !important;
  height: 22px;
  background: url("../assets/trash.png") center no-repeat;
}
.popup-delete-icon:hover {
  cursor: pointer;
  background: url("../assets/trash_hover.png") center no-repeat;
}
.restore-icon {
  width: 100%;
  min-width: 22px;
  height: 22px;
  background: url("../assets/Restore.png") center no-repeat;
}

.restore-icon:hover {
  cursor: pointer;
  background: url("../assets/Restore_over.png") center no-repeat;
}
.versionhistory-icon {
  width: 100%;
  height: 22px;
  background: url("../assets/Version history.png") center no-repeat;
}
.versionhistory-icon:hover{
  cursor: pointer;
  background: url("../assets/Version history hover.png") center no-repeat;
}
.plus-icon {
  background-image: url("../assets/plus.png");
  background-position: 10px center;
  background-repeat: no-repeat;
}
.import-icon {
  background-image: url("../assets/Import.png");
  background-position: 10px center;
  background-repeat: no-repeat;
}
.export-icon {
  background-image: url("../assets/Export_to_Excel.png");
  background-position: 10px center;
  background-repeat: no-repeat;
}
.download-icon {
  background-image: url("../assets/Download.png");
  background-position: 10px center;
  background-repeat: no-repeat;
}
.info-icon {
  background-image: url("../assets/info.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.moreaction-icon {
  width:100%;
  height: 20px;
  background-image: url("../assets/3dots normal.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.moreaction-icon:hover {
  cursor: pointer;
  background-image: url("../assets/3dots hover.png");
}
.copy-icon {
  width: 100%;
  height: 25px;
  background: url("../assets/Copy normal.png") center no-repeat;
}
.copy-icon:hover {
  cursor: pointer;
  background-image: url("../assets/Copy_hover.png");
}
.share-icon {
    width: 100%;
      height: 25px;
  background-image: url("../assets/Share_normal.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.share-icon:hover {
  cursor: pointer;
  background-image: url("../assets/Share_hover.png");
}
.duedate-priority-icon {
  margin-top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #c2c2c2;
}
.duedate-priority-icon.green {
  background-color: #33a532;
}
.duedate-priority-icon.amber {
  background-color: #ffbf00;
}
.duedate-priority-icon.red {
  background-color: #fa5748;
}
.duedate-priority-icon.none{
  display: none;
}

/*overiding bootstrap styles */
.react-bootstrap-table {
  position: relative;
}
.react-bootstrap-table table {
  /* table-layout: auto !important;*/
}
.react-bootstrap-table th .order-4,
.react-bootstrap-table th .caret-4-asc,
.react-bootstrap-table th .caret-4-desc {
  display: inline-block;
  position: relative;
}
.react-bootstrap-table th .order-4:before,
.react-bootstrap-table th .caret-4-asc:before,
.react-bootstrap-table th .caret-4-desc:before {
  content: "\25be" !important;
  position: absolute;
  top: -9px;
  left: 0px;
  margin-left: 0px !important;
}
.react-bootstrap-table th .order-4::after,
.react-bootstrap-table th .caret-4-asc::after,
.react-bootstrap-table th .caret-4-desc::after {
  content: "\25B4" !important;
  position: absolute;
  top: -16px;
  left: 0px;
  margin-left: 0px !important;
}
.table-bordered {
  border: 0;
}
.table thead th {
  vertical-align: top;
}
.table-bordered td,
.table-bordered th,
.table thead th {
  border: 1px solid #add8ef;
}
.table td,
.table th {
  border: 1px solid #add8ef;
  word-wrap: break-word;
  word-break: break-word;
 
}
.table-bordered td,
.table-bordered th,
.table thead th,
.table th,
.table td {
  border-left: 0;
  border-right: 0;
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 1px;
}
.table-bordered th,
.table thead th {
  border-top: 0;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.page-link {
  color: #2167ad;
  border: 0;
  height: 30px;
}
.page-link:hover {
  color: #2167ad;
  background-color: transparent;
}
.page-item.active .page-link {
  color: #2167ad;
  width: 37px;
  text-align: center;
  background-color: #e0e4ed;
  border-radius: 15px;
}

.page-link:focus {
  box-shadow: none;
}
.pagination .page-item {
  margin: 0 1px;
}
.pagination .page-item.active .page-link {
  cursor: default;
}
.react-bootstrap-table {
  width: 100%;
  overflow-x: auto;
}
.pagination-top-container {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}
.serachperpage {
  width: 160px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}
.serachperpage .filter-container .dropdown select {
  width: 60px;
}

.pagination-top-container .searchbox {
  display: flex;
  align-items: center;
}
.searchbox .search-title {
  margin-right: 10px;
}
.searchbox .search-label {
  margin-bottom: 0;
}
.searchbox .form-control::placeholder {
  color: #edeef0;
}
.searchbox .form-control::-ms-input-placeholder {
  color: #edeef0;
}
.searchbox .form-control {
  width: 400px;
  height: 32px;
  color: #2167ad;
  border: 0;
  border-radius: 0%;
  font-size: 14px;
  padding: 7px 10px;
  margin-right: 15px;
  border-radius: 15px;
  background-color: #edeef0;
}
.searchbox .form-control:focus {
  box-shadow: none;
}
.react-bootstrap-table-pagination .dropdown-toggle::after {
  padding: 2px;
  top: 12px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.btn.btn-default {
  min-width: 89px;
  height: 32px;
  background-color: rgba(33, 103, 173, 1);
  text-align: center;
  line-height: 31px;
  color: #fff;
  border-radius: 15px;
  padding: 0 15px;
  font-size: 14px;
  transition: none;
}
.btn.btn-default:hover {
  cursor: pointer;
  background-color: rgba(33, 103, 173, 0.7);
}
.btn.btn-default:focus {
  box-shadow: none;
}
#pageDropDown {
  background-color: #fff;
  color: #2167ad;
  transition: none;
  font-size: 13px;
  width: 60px;
  border: 0;
  padding: 0px;
  height: 25px;
  margin: 0 20px;
  border: 1px solid #add8ef;
  border-radius: 10px;
  line-height: 25px;
  min-width: 60px !important;
}
.react-bs-table-sizePerPage-dropdown.open #pageDropDown {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
#pageDropDown:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  margin-left: 20px;
}
.dropdown-menu {
  color: #2167ad;
  font-size: 12px;
  width: 50px;
  border: 1px solid #add8ef;
  margin-left: 20px;
  top: 20px;
  min-width: 60px;
  padding: 0;
  border-top: 0;
  border-radius: 0px 0px 10px 10px;
}
.dropdown-item {
  padding: 5px 6px;
  color: #2167ad;
}
.dropdown-item:hover {
  color: #2167ad;
}
.pagination {
  margin-right: 20px;
}
 .showtotalmsg {
 display: none;
}
.site-pagination-table.container-fluid .showtotalmsg{
  display: block;
}
.approver-container {
  display: flex;
  align-items: center;
}
.approver-detail-block {
  width: 90%;
  display: flex;
  align-items: center;
}
.approver-img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.approver-img img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  border-radius: 30px;
}
.approver-email {
  word-wrap: break-word;
  word-break: break-word;
  color: #243e6f;
  font-size: 12px;
}
.lookup-content-container {
  padding: 20px;
}
.lookup-nature {
  margin-top: 20px;
}
.lookup-title-header {
  display: flex;
  justify-content: space-between;
}
.lookup-title-header .title {
  font-weight: 600;
}
.addedit-header-container {
  width: 100%;
  border-bottom: 1px solid #2167ad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.addedit-header-title {
  font-size: 20px;
  font-weight: 600;
}
.addedit-header-container .clsincountrysel{
  width: 300px;
}
.addedit-header-container .clsincountrysel .frm-field{
  margin-bottom: 0px;
}
.progress-bar {
  width: 100%;
  height: 5px;
  /* border: 1px solid #ccc;*/
  background-color: #fff !important;
}
.progress-color {
  margin: 1px 0px;
  height: 2px;
  width: 0px;

  background-color: #2167ad;
}
.progress-completion {
  text-align: center;
  font-size: 12px;
  color: #2167ad;
}
.progress-bar-container {
  margin-top: 5px;
}
#copytext-dummycontainer {
  width: 1px;
  height: 1px;
  visibility: hidden !important;
}
.hidecls{
  display: none;
}
.title-dropdown div label {
  margin-right: 12px !important;
}

.title-rfe{
  display: flex;
  justify-content: space-between;
}
.page-title-rfe{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
    color: #243e6f;
    margin-left: 1.5%;
}
.title-dropdown-rfe{
  margin-top: 8px;
  margin-right: 30px;
}
.title-dropdown-rfe div label {
  margin-right: 12px !important;
}