.moreaction-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.moreaction-plus-icon {
    width: 100%;
    height: 25px;
    margin-top: 22%;
    margin-left: -5%;
    background: url("../../../assets/plus_more_normal.png") center no-repeat;
}
.moreaction-plus-icon:hover {
    cursor: pointer;
    background-image: url("../../../assets/plus_more_hover.png");
}

.moreaction-icon-container {
    width: 70px;
}

.moreaction-items-container {
    position: absolute;
    width: 90px;
    background-color: #fff;
    left: 70px;
    top: -20px;
    padding: 10px;
    z-index: 100;
    box-shadow: 0px 3px 6px #00000029;
}
.moreaction-items-container>div:not(:last-child){
    margin-bottom: 7px;
}
.moreaction-container .icon{
    width: 100%;
    position: relative;
    background-position: 0 0;
}
.moreaction-container .icon:hover::after{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 5px;
    right: -15px;
    font-size: 12px;
}
.moreaction-container .copy-icon:hover::after {
    content: "Copy";
}
.moreaction-container .share-icon:hover::after {
    content: "Share";
}
.moreaction-container .delete-icon:hover::after {
    content: "Delete";
}
.moreaction-container .moreaction-plus-icon:hover::after {
    content: "Add new RfE";
}